<Alloy>
	<View>
		<ScrollableView id="tabs" showPagingControl="true">
			<View>
				<View class="toolbar">
					<View class="toolbar_title_holder">
						<Label class="toolbar_title" text="Freebox" />
					</View>
				</View>
				<View class="content abs">
					<TableView id="freebox_table">
					</TableView>
					<Button id="freebox_discover_button" class="action_button" />
				</View>
			</View>
			<View>
				<View class="toolbar">
					<View class="toolbar_title_holder">
						<Label class="toolbar_title" text="Transmission" />
					</View>
				</View>
				<View class="content abs">
					<TableView id="transmission_table">
					</TableView>
					<Button id="transmission_add_button" class="action_button" />
				</View>
			</View>
			<View>
				<View class="toolbar">
					<View class="toolbar_title_holder">
						<Label class="toolbar_title" text="T411"/>
					</View>
				</View>
				<View class="content">
					<TableView>
						<TableViewRow>
							<View class="label_holder">
								<Label class="form_label" id="t411_username_label" />
							</View>
							<TextField id="t411_username"/>
						</TableViewRow>	
						<TableViewRow>
							<View class="label_holder">
								<Label class="form_label" id="t411_password_label" />
							</View>
							<TextField passwordMask="true" id="t411_password"  hintText=""/>
						</TableViewRow>
						<TableViewRow>
							<Label class="form_label" id="t411_register_link_label" />
						</TableViewRow>
					</TableView>
				</View>
				<Button id="save_button" class="save_button">
					<Label class="save_button_icon fa-icon" icon="fa-check"/>
				</Button>
			</View>
		</ScrollableView>
		<Widget id="fa" src="com.mattmcfarland.fontawesome" />
	</View>
</Alloy>